@font-face {
  font-family: "myfont";
  src: url("./assets/fonts/Regular.woff2") format("woff2");
}

@font-face {
  font-family: "myfont";
  src: url("./assets/fonts/Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "myfont";
  src: url("./assets/fonts/Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "myfont";
  src: url("./assets/fonts/Black.woff2") format("woff2");
  font-weight: 900;
}

html {
  position: relative;
}

* {
  font-family: myfont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  width: 100%;
}

body > header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

header > nav {
  background-color: #db4c3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  height: 44px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

header button {
  color: white;
  height: 28px;
  width: 28px;
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#left-nav-btns {
  display: flex;
  gap: 2px;
  align-items: center;
}

#search-container {
  position: relative;
  margin-left: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
}

#search-icon {
  color: white;
  position: absolute;
  cursor: text;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

#search-input {
  font-size: 13px;
  color: black;
  padding: 5px 0 5px 34px;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 1px transparent;
  border-radius: 5px;
  outline: none;
}

#search-input::placeholder {
  font-size: 13px;
  color: white;
}

#search-input:focus {
  width: 450px;
}

#search-container:hover *,
#search-input:focus,
#search-input:focus ~ #search-icon {
  background-color: white;
  color: black;
}

#search-container:hover #search-input::placeholder,
#search-input:focus::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#sidebar {
  background-color: rgb(250, 250, 250);
  width: 221px;
  padding: 30px 0;
  height: calc(100vh - 44px);
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  flex-direction: column;
  font-size: 14px;
  position: fixed;
}

#sidebar > * {
  padding: 0 18px;
}

#sidebar > ul {
  list-style-type: none;
}

ul li {
  display: flex;
}

.li-a {
  text-decoration: none;
  color: #202020;
  display: flex;
  align-items: center;
  padding: 5px;
  flex: 1;
}

.li-a span {
  padding: 3px 0 3px 5px;
}

.li-div {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-div span {
  font-size: 12px;
  color: #aaa;
}

#sidebar ul > li:hover {
  background-color: #eee;
  border-radius: 5px;
}

#projects-heading-container {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4px 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#projects-heading-container:hover {
  background-color: rgb(238, 238, 238);
}

#projects-heading {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.56);
}

#projects-container,
#projects-container ul {
  overflow: auto;
}

#projects-container ul {
  height: calc(100% - 34px);
}

#projects-container button {
  height: 26px;
  color: rgb(102, 102, 102);
  opacity: 0;
  transition: 0.1s;
}

#projects-container button svg {
  width: 16px;
  height: 16px;
}

#sidebar:hover #projects-container button,
.todo:hover .todo-options {
  opacity: 1;
}

#sidebar:hover #projects-container button:hover {
  color: rgb(26, 26, 26);
  /* transform: rotate(90deg); */
}

.container {
  display: flex;
}

main {
  width: calc(100vw - 221px);
  margin-left: 221px;
}

main > div {
  padding: 0 55px;
}

#main-header {
  position: sticky;
  top: 44px;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 36px 55px 0;
  z-index: 100;
  background-color: white;
}

#main-header h1 {
  font-size: 20px;
}

.todo-more-options,
.todo-info button {
  height: auto;
  width: auto;
  color: grey;
}

.todo-more-options:hover,
.todo-info button:hover {
  color: #202020;
  background-color: #eee;
}

.checkbox-container {
  align-self: flex-start;
}

.checkbox {
  border-radius: 50%;
  border: 1px solid grey;
  height: 16px;
  width: 16px;
  box-sizing: content-box;
}

.checkbox-p1 {
  border: 2px solid rgb(209, 69, 59);
  background-color: rgba(209, 69, 59, 0.1);
}

.checkbox-p2 {
  border: 2px solid rgb(235, 137, 9);
  background-color: rgba(235, 137, 9, 0.1);
}

.checkbox-p3 {
  border: 2px solid rgb(36, 111, 224);
  background-color: rgba(36, 111, 224, 0.1);
}

.checkbox svg {
  height: 16px;
  width: 16px;
  margin-left: -8px;
  margin-top: -8px;
  opacity: 0;
  color: grey;
  transition: all 0.1s ease-in;
}

.checkbox-p1 svg {
  color: rgb(209, 69, 59);
}

.checkbox-p2 svg {
  color: rgb(235, 137, 9);
}

.checkbox-p3 svg {
  color: rgb(36, 111, 224);
}

.checkbox:hover svg {
  opacity: 1;
}

input[type="date"],
input[type="time"] {
  height: 0;
  width: 0;
  border: none;
  position: absolute;
  top: 5px;
  left: 5px;
}

.due-date {
  display: flex;
  gap: 5px;
  font-size: 12px;
  align-items: center;
  color: grey;
  line-height: 16px;
}

.today {
  color: rgb(5, 133, 39);
}

.tomorrow {
  color: rgb(178, 93, 0);
}

.this-week {
  color: rgb(105, 47, 194);
}

.overdue {
  color: rgb(209, 69, 59);
}

.todo-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  width: 100%;
}

.todo {
  cursor: pointer;
  padding: 8px 0;
  border-bottom: 1px solid rgb(240, 240, 240);
  position: relative;
  width: 100%;
  gap: 10px;
  transition: all 0.4s linear;
}

.todo.removed {
  opacity: 0;
}

#sections-list {
  margin-top: 5px;
}

#sections-list > li {
  display: block;
}

.section {
  flex: 1;
  margin-bottom: 20px;
}

.todo-options {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}

button.todo-more-options {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  box-sizing: content-box;
}

.todo-title-desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.todo-title {
  font-size: 14px;
}

.todo-desc {
  color: rgb(0, 0, 0, 0.56);
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-todo-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-todo-btn > span:first-child {
  color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
}

.add-todo-btn > span:last-child {
  color: grey;
  font-size: 14px;
}

.add-todo-btn:hover > span:first-child {
  background-color: rgb(221, 75, 57);
  color: white;
}

.add-todo-btn:hover > span:last-child {
  color: rgb(221, 75, 57);
}

.add-section-btn {
  color: rgb(221, 75, 57);
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 24px;
  width: calc(100% - 30px);
  opacity: 0;
  transition: 0.1s;
  margin: 10px 0;
}

.add-section-btn:hover {
  opacity: 1;
}

.add-section-btn::before,
.add-section-btn::after {
  display: block;
  content: "";
  height: 1px;
  background-color: rgb(221, 75, 57);
  flex: 1;
}

.add-section-btn::before {
  margin-right: 5px;
}

.add-section-btn::after {
  margin-left: 5px;
}

.section-name {
  font-weight: 900;
  color: #202020;
  height: auto;
  width: auto;
  font-size: 14px;
}

.section-name + span {
  color: grey;
  font-size: 12px;
}

.section-header {
  position: relative;
}

.collapse-list {
  position: absolute;
  left: -25px;
  top: 3px;
}

.section-header {
  display: flex;
}

.section-info {
  flex: 1;
}

.section-name {
  padding: 6px 6px 5px 0;
}

.modal-form-container {
  margin-left: 221px;
}

.form,
.todo-input-text {
  display: flex;
  flex-direction: column;
}

.todo-input-text {
  margin-bottom: 10px;
  overflow: auto;
  max-height: 200px;
  position: relative;
}

.todo-input-text > * {
  border: none;
  outline: none;
}

.todo-title-input,
.todo-title-input ~ .placeholder {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.placeholder {
  z-index: -1;
}

.todo-title-input ~ .placeholder {
  position: absolute;
  top: 0;
}

.todo-desc-input ~ .placeholder {
  position: absolute;
  font-weight: normal;
  top: 27px;
}

.inline-form .todo-title-input,
.inline-form .todo-title-input ~ .placeholder {
  font-size: 16px;
  line-height: 22px;
}

.todo-title-input ~ .placeholder,
.todo-desc-input ~ .placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.todo-desc-input,
.todo-desc-input .placeholder {
  font-size: 13px;
  line-height: 22px;
}

.inline-form .todo-desc-input,
.inline-form .todo-desc-input ~ .placeholder {
  font-size: 12px;
  line-height: 18px;
}

.todo-desc-input {
  margin: 5px 0 7px;
}

.flex-row,
.input-row {
  display: flex;
}

.flex-row {
  gap: 5px;
}

.input-btn-row {
  position: relative;
}

.input-row {
  justify-content: space-between;
  padding-top: 15px;
}

.todo-input-btn {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.todo-input-btn:disabled {
  cursor: default;
}

.input-btn {
  line-height: 32px;
  padding: 0 12px;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 700;
  cursor: default;
}

.cancel-btn,
.cancel-section {
  background-color: rgb(245, 245, 245);
  color: rgb(68, 68, 68);
}

.cancel-btn:hover,
.cancel-section:hover {
  background-color: rgb(229, 229, 229);
  color: rgb(26, 26, 26);
}

.add-task-btn,
.add-section-confirm {
  background-color: rgb(219, 76, 63);
  color: white;
}

.add-task-btn:disabled,
.add-section-confirm:disabled {
  background-color: rgba(219, 76, 63, 0.4);
}

.add-task-btn:not(:disabled):hover,
.add-section-confirm:not(:disabled):hover {
  background-color: #b03d32;
}

.add-task-btn.active:hover,
.add-section-confirm.active:hover {
  background-color: rgb(176, 61, 50);
}

.form-controls-container {
  padding: 16px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.form-submit-btns {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  padding: 0 16px;
}

.form {
  width: 550px;
  display: none;
  padding: 15px;
}

.form > div.flex-row:nth-child(2) {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-form {
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.inline-form {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.inline-form:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.input-container {
  display: flex;
}

.clear-time-input {
  display: none;
  align-self: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.clear-time-input:hover {
  color: rgba(0, 0, 0, 0.8);
}

.clear-time-input:active {
  transform: scale(0.9);
}

.project-selector {
  border: none;
  background-color: white;
  outline: none;
  border-radius: 5px;
  flex: 1;
}

.project-selector:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.add-section {
  flex-direction: column;
  display: none;
  gap: 10px;
}

.add-section input {
  padding: 5px;
  font-size: 1rem;
}
